.resize-image{
    width:30%;
    float: left;
    border-radius: 5%;
}

.header-color{
    color:#45A29E;
}
.float-left{
    width: 50%;
    float: left;
}
.float-right{
    float: right;
}
.text-sec{
    color: #C5C6C7;
    font-size: 23px;
}

.db{
    color: #66FCF1;
}
.apply-border{
    border: solid;
}

.lightgrey-bg{
    background-color: #45A29E;
    border-radius: 5%;
    border: solid;
    border-color:#0B0C10;
}
