/* .full-screen{
    width:100%;
    height:100%;
} */
.container{
    min-height: 100%;
    min-width: 100%;
}
.intro-row{
    height:100%;
}
.lgreen-colored{
    background-color: #c0dfd0;
}
.dgreen-colored{
    background-color: #84a9a1;
}
.lgrey-colored{
    background-color: #d3d7db;
}
.dgrey-colored{
    background-color: #9ba6ad;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.michigan-logo{
    width:50%;
    padding-top:5%;
    padding-bottom: 5%;
}
.education-text{
    padding-top: 5%;
    padding-bottom: 5%;
    margin-right:20%;
}
.responsive{
    vertical-align: bottom;
    width:100%;
    height:auto;
    margin-left:15%;
}
.experience-header{
    padding-top:3%;
    margin-left:auto;
    margin-right:auto;
}
.span-column{
    margin-left:auto;
    margin-right:auto;
}
.card{
    min-height: 230px;
}

.resize-image{
    width:30%;
    float:left;
    border-radius: 10%;
}

.header-color{
    color:#45A29E;
}
.float-left{
    width: 50%;
    float: left;
}
.float-right{
    float: right;
}
.text-sec{
    color: #383b3e;
    font-size: 23px;
}

.left-border{
    border-left: solid black;
}
.center-image{
    text-align:center;
    display:inline-block;
}
.db{
   
    font-size:23px;
}
.ital{
    font-style:italic;
}
.apply-border{
    border: solid;
}

.lightgrey-bg{
    background-color: #45A29E;
    border-radius: 5%;
    border: solid;
    border-color:#0B0C10;
}
