.header{
    font-size: 40px;
}
.light-blue{
    color: #66FCF1;
}
.normal-text{
    font-size: 20px;
    vertical-align: center;
}
.white{
    color:#C5C6C7;
}
.navbar-custom{
    background: transparent;
}

.va{
    vertical-align: center;
}

