.header{
    font-size: 40px;
}
.light-blue{
    color: #66FCF1;
}
.normal-text{
    font-size: 20px;
    vertical-align: center;
}
.white{
    color:#C5C6C7;
}
.navbar-custom{
    background: transparent;
}

.va{
    vertical-align: center;
}

.light-green{
    color: #c0dfd0;
}

.dark-green{
    color: #84a9a1;
}

.light-grey{
    color: #d3d7db;
}

.dark-grey{
    color: #9ba6ad;
}

