.light-blue{
    color: #66FCF1;
}
.normal-text{
    vertical-align: center;
}
.white{
    color:#C5C6C7;
}
.navbar-custom{
    background: transparent;
}

.va{
    vertical-align: center;
}

.light-green{
    color: #c0dfd0;
}

.dark-green{
    color: #84a9a1;
}

.light-grey{
    color: #d3d7db;
}

.dark-grey{
    color: #9ba6ad;
}

.bg-grey{
    color: #6b6369;
}

.line-color{
    border-color: #84a9a1;
}

html {
  scroll-behavior: smooth;
}

.header-size{
    vertical-align: center;
    font-size: 2.5vw;
}

.sub-navbar-size{
    vertical-align: center;
    font-size: 6vw;
}

.large-size{
    font-size: 2.5vw;
}
.medium-size{
    font-size: 1.3vw;
}
.small-icon-size{
    font-size: 1.8vw;
}

/* small phone display */
@media screen and (min-width: 300px) and  (max-width : 399px) and (min-height: 500px) and (max-height: 600px)
{
    .render-navbar{
        display:none;
    }
    .responsive{
        position:absolute; 
        bottom:0;
        width:70%;
        left:30%;
        height:auto;
    }
    .large-size{
        font-size: 8.0vw;
    }
    .medium-size{
        font-size: 3.0vw;
    }
    .a{
        font-size: 3.0vw;
    }
    .small-icon-size{
        font-size: 7.0vw;
    }
    .slight-right{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -30%;
        transform: translate(-50%, -65%)
    }
}


/* medium phone view */
@media screen and (min-width: 300px) and  (max-width : 399px) and (min-height: 600px) and (max-height: 700px)
{
    .render-navbar{
        display:none;
    }
    .responsive{
        position:absolute; 
        bottom:0;
        width:70%;
        left:30%;
        height:auto;
    }
    .large-size{
        font-size: 5.0vw;
    }
    .medium-size{
        font-size: 3.0vw;
    }
    .a{
        font-size: 3.0vw;
    }
    .small-icon-size{
        font-size: 7.0vw;
    }
    .slight-right{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -30%;
        transform: translate(-50%, -65%)
    }
}

/* large phone display */
@media screen and (min-width: 300px) and  (max-width : 399px) and (min-height: 750px) and (max-height: 850px)
{
    .render-navbar{
        display:none;
    }
    .responsive{
        position:absolute; 
        bottom:0;
        width:70%;
        left:30%;
        height:auto;
    }
    .large-size{
        font-size: 10.0vw;
    }
    .medium-size{
        font-size: 5.0vw;
    }
    .a{
        font-size: 5.0vw;
    }
    .small-icon-size{
        font-size: 7.0vw;
    }
    .slight-right{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -30%;
        transform: translate(-50%, -62%)
    }
}

/* fold phone display */
@media screen and (min-width: 100px) and  (max-width : 299px)
{
    .render-navbar{
        display:none;
    }
    .responsive{
        position:absolute; 
        bottom:0;
        width:70%;
        left:30%;
        height:auto;
    }
    .large-size{
        font-size: 10.0vw;
    }
    .medium-size{
        font-size: 5.0vw;
    }
    .a{
        font-size: 5.0vw;
    }
    .small-icon-size{
        font-size: 7.0vw;
    }
    .slight-right{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -30%;
        transform: translate(-50%, -65%)
    }
}

@media screen and (min-width: 400px) and  (max-width : 599px)
{
    .render-navbar{
        display:none;
    }
    .responsive{
        position:absolute; 
        bottom:0;
        width:60%;
        left:40%;
        height:auto;
    }
    .large-size{
        font-size: 5.0vw;
    }
    .medium-size{
        font-size: 3.5vw;
    }
    .small-icon-size{
        font-size: 2.5vw;
    }
    .slight-right{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -30%;
        transform: translate(-50%, -65%)
    }
}
@media screen and (min-width: 600px) and  (max-width : 749px)
{
    .render-navbar{
        display:none;
    }
    .responsive{
        position:absolute; 
        bottom:0;
        /* vertical-align: bottom; */
        width:60%;
        left:40%;
        height:auto;
    }
    .large-size{
        font-size: 4.0vw;
    }
    .medium-size{
        font-size: 2.0vw;
    }
    .small-icon-size{
        font-size: 2.5vw;
    }
    .slight-right{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -30%;
        transform: translate(-50%, -80%)
    }
}
@media screen and (min-width: 750px) and  (max-width : 949px)
{
    .render-navbar{
        display:none;
    }
    .responsive{
        position:absolute; 
        bottom:0;
        /* vertical-align: bottom; */
        width:50%;
        padding:0;
        margin:0;
        left:50%;
        height:auto;
    }
    .large-size{
        font-size: 4.5vw;
    }
    .medium-size{
        font-size: 2.2vw;
    }
    .small-icon-size{
        font-size: 2.5vw;
    }
    .slight-right{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -30%;
        transform: translate(-50%, -85%)
    }
}
@media screen and (min-width: 950px) and  (max-width : 1199px)
{
    .render-sub-navbar{
        display:none;
    }
    .responsive{
        position:absolute; 
        bottom:0;
        width:49%;
        height:auto;
    }
    .large-size{
        font-size: 3.5vw;
    }
    .medium-size{
        font-size: 1.4vw;
    }
    .small-icon-size{
        font-size: 2.5vw;
    }
    .slight-right{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -40%;
        transform: translate(-24%, -70%)
    }
}
@media screen and (min-width: 1200px) and  (max-width : 1599px)
{
    .render-sub-navbar{
        display:none;
    }
    .responsive{
        position:absolute; 
        bottom:0;
        /* vertical-align: bottom; */
        width:40%;
        left:5%;
        height:auto;
    }
    .large-size{
        font-size: 3.0vw;
    }
    .medium-size{
        font-size: 1.4vw;
    }
    .small-icon-size{
        font-size: 2.0vw;
    }
    .slight-right{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -30%;
        transform: translate(-23%, -70%)
    }
}
@media screen and (min-width : 1600px)
{
    .render-sub-navbar{
        display:none;
    }
    .responsive{
        position:absolute; 
        bottom:0;
        /* vertical-align: bottom; */
        width:40%;
        left:10%;
        height:auto;
    }
    .large-size{
        font-size: 2.5vw;
    }
    .medium-size{
        font-size: 1.3vw;
    }
    .small-icon-size{
        font-size: 1.8vw;
    }
    .slight-right{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -40%;
        transform: translate(-20%, -70%)
    }
}
