.main-text-color{
    color: #383b3e;
}

.second-text-color{
    color: #494d50;
}

.button-decorate{
    border: 0px;
}
.larger-text{
    font-size: 50px;
}
.medium-text{
    font-size: 20px;
}

.image-resize{
    width:25%;
    height:100%;
    margin-left:10%;
}

.image-resize:after{
    display:block;
    padding-bottom: 100%;
}
.image-decorate{
    border: solid;
    border-width: .2cm;
    transform: rotate(350deg);
    border-color:#DCDCDC;
}

.stretch{
    height:100%;
}
.bg-trans{
    background: transparent;
}
.whole-page{
    height: 100%
}

.button-color{
    background-color: #45A29E;
    border-color: #45A29E;
}

@media only screen and (max-width: 500px) {
    .image-resize{
        width: 50%;
        height: 200px;
        display:block;
    }
}

@media only screen and (min-width: 501px) and (max-width: 768px){
    .image-resize{
        width:32%;
        height:220px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1030px){
    .image-resize{
        width:30%;
        height:300px;
    }
}
ul{
    list-style:none;
  }
  ul{
    overflow:hidden;
    width: 20%;
    height:30%;
    background:#ffff88;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    transform: rotate(3deg);
    display:block;
    margin-right:10%;
  }
  /* ul li a{
    text-decoration:none;
    color:#000;
    background:#ffff88;
    display:block;
    height:10em;
    width:10em;
    padding:1em;
  } */
  
 