.large-font{
    font-size:87px;
}

.vertical-stretch{
    min-height: 100vh;
    height: 100%;
}

.vcenter{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.bg-trans{
    background: transparent;
}

.button-color{
    background-color: #45A29E;
    border-color: #45A29E;
}

@media only screen and (max-width: 500px) {
    .image-resize{
        width: 50%;
        height: 200px;
        display:block;
    }
}

@media only screen and (min-width: 501px) and (max-width: 768px){
    .image-resize{
        width:32%;
        height:220px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1030px){
    .image-resize{
        width:30%;
        height:300px;
    }
}

 