.p-bg1{
    background-color: #ADD8E6;
}

.p-bg2{
    background-color: white;
}

.padding-l{
    padding-left: 5%;
}

.padding-r{
    padding-right:5%;
}

.grey-bg{
    background-color: #686868;
}

.card-img-top {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

.bigger-font-p{
    font-size: 20px;
}

.light-grey-bg{
    background-color: 	#ADD8E6;
    border-radius: 10%;
}

.bg-db{
    background-color: #45A29E;
}

.lb{
    color: #66FCF1;
}

.dg{
    color: #1F2833;
}

.button-lb{
    background-color: #66FCF1;
    border-color: #66FCF1;
}