body {
  margin: 0;
  /* background-color: #1F2833; */
  /* background-image: radial-gradient(#72777D,#1F2833,  #0B0C10); */
  background-image: url('./images/lined_paper_3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: linear-gradient(#ADD8E6, white); */
  /* background-attachment: fixed; */
  font-family: 'Kalam', cursive;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html, body, #app, #app>div {
  height: 100%
}

#root{
  height:100%;
}

code {
  font-family: 'Kalam', cursive;
}

