body {
  margin: 0;
  background-color: #6b6369;
  font-family: 'Alata', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html, body, #app, #app>div {
  height: 100%
}

#root{
  height:100%;
}

code {
  font-family: 'Alata', sans-serif;
}

